option_settings:
  aws:elasticbeanstalk:application:environment:
    MODEL_BUCKET: ml-models-arunesh-sandbox
    ENVIRONMENT: staging

  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro # Switched to a cost-effective, free-tier eligible instance type

  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance # Simplifies deployment for a fast test environment

